body {
font-size:14px;
lione-height:24px ;
font-color:#333333;
font-weight: normal;
font-family:PT Sans;
}

.main-header {
font-size:16px;
lione-height:20px ;
font-color:#ffffff;
}

h1{
  font-size:30px;
  lione-height:42px ;
  font-weight: bold;
}


h2 {
  font-size:30px;
  lione-height:42px ;
  font-weight: bold;
}

.features {
font-color:#ffffff;
}

/*__________________________________*/

html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  /*background: #000000 url("barbershop-index-grid.jpg") no-repeat 50% 3px;*/
  background-size: 1122px auto;
}
/*тупо вставил из демки гл страницы*/

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
/*.clearfix::after {
  content: "";

  display: block;
  clear: both;
  height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;
}*/

.main-header {
   margin-bottom: 60px;
  /* Только для оформления сетки */
  min-height: 70px;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;

  /* Только для оформления сетки */
  min-height: 70px;

}
.index-logo {
float:left;
  width: 150px;
  height: 70px;
margin-right: 20px;
}

.main-navigation {
  display: inline-block;
  margin-right: 20px;
  height: 70px;
  width:540px;
  /*width: 780px;*/
  /* Только для оформления сетки */
  min-height: 70px;

}
.main-navigation li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  vertical-align: top;
  width:auto;
  height: auto;
}

.user-block {
  float: right;
  width: 140px;
  

  /* Только для оформления сетки */
  min-height: 70px;
}

.breadcrumb {
width:320px;
margin-top: 30px;
margin-bottom: 60px;

}
.breadcrumb li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  vertical-align: top;
  width:auto;
  height: auto;

}


.filter {
  width:160px;
  float: left;
  margin-right: 40px;

}

.catalog {
  width: 720px;
  float: left;

}

.products {
  display: inline-block;
  width:220px;
  height: 287px;
  background-color: white;
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;

         }
.item:nth-child(3n) {
    margin-right: 0;
}

.pages {
  width:auto;
  height: auto;
  padding:45px;
}
.pages li {
  display: inline-block;
  text-align: center;
  padding: 7px;
  vertical-align: top;
  width:43px;
  height: 43px;

}


.main-footer {
  margin-top: 65px;
  padding-top: 60px;
padding-bottom: 40px;

}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  /* Только для оформления сетки */
  min-height: 90px;
}
.footer-social {
  float: left;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}
.footer-copyright {
  float: right;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}






/*Стили для главной страницы

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;


  min-height: 175px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;


  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;


  min-height: 330px;
}


*/

/*======================================
 Системное оформление - не изменять
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}
